<ion-header [translucent]="true">
  <ion-toolbar color="primary" >


    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/customer/'+customerService.customerForm.controls.cardCode.value"></ion-back-button>

    </ion-buttons>
    <ion-title>Bill To Address</ion-title>

    <ion-buttons [collapse]="true" slot="end">
      <ion-button type="submit" [routerLink]="['/customer',customerService.customerForm.controls.cardCode.value]">Save</ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button expand="block" (click)="toggleSearchBar()"><ion-icon name="search-outline"></ion-icon></ion-button>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>


  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item  *ngFor="let address of billToAddrsService.availableAddressList">
        <strong [routerLink]="['/billToAddress',address.rowNum]">{{address.addressName}}</strong>
        <br />
        <ion-icon slot="end" id="present-alert" (click)="presentAlert(address)"  name="trash-outline"></ion-icon>
      </ion-item>
    </ion-list>
    
  <ion-list class="btns" [routerLink]="['/billToAddress','']">
    Add Bill To Address
  </ion-list>    

<ion-infinite-scroll (ionInfinite)="onScrollLoadData($event)">
<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

<ion-alert
  header="Confirm Delete"
  message="Are you sure you want to delete this item?"
  (didDismiss)="handleAlertDismiss($event)"
></ion-alert>


