
<ion-header [translucent]="true">
  <ion-toolbar color="primary" *ngIf="!shiptoAddressService.showSearchBar">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ship To Address</ion-title>

    <ion-buttons [collapse]="true" slot="end" >
      <ion-button type="submit" [routerLink]="['/customer',this.customerService.customerForm.value.cardCode]">Save</ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button expand="block" (click)="toggleSearchBar()"><ion-icon name="search-outline"></ion-icon></ion-button>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let address of shiptoAddressService.availableAddressList">
      <strong [routerLink]="['/shiptoaddress',address.rowNum]">{{address.addressName}}</strong>

      <br />
      <ion-icon slot="end" id="present-alert" (click)="presentAlert(address)"  name="trash-outline"></ion-icon>
    </ion-item>
  </ion-list>
  
<ion-list class="btns" [routerLink]="['/shiptoaddress','']">
  Add Bill To Address
</ion-list>    

<ion-infinite-scroll (ionInfinite)="onScrollLoadData($event)">
<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

<ion-alert
  header="Confirm Delete"
  message="Are you sure you want to delete this item?"
  (didDismiss)="handleAlertDismiss($event)"
></ion-alert>
