<form [formGroup]="territoryForm" (ngSubmit)="onSubmit(territoryForm)">

  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/territory"></ion-back-button>
      </ion-buttons>
      <ion-title>Territory Details</ion-title>
  
      <ion-buttons slot="primary" *ngIf="this.ViewDataFlag == true">
        <ion-button (click)="ChangeViewDataFlag();"><ion-icon name="create-outline" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
  
      <!-- <ion-buttons slot="primary" *ngIf="this.ViewDataFlag == true">
        <ion-button (click)="DeleteTerritory();"><ion-icon name="trash-outline" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons> -->
  
      <ion-buttons [collapse]="true" slot="end" *ngIf="this.ViewDataFlag == false">
        <ion-button type="submit">Save</ion-button>
      </ion-buttons>
  
      <ion-buttons [collapse]="true" slot="end" *ngIf="this.ViewDataFlag == false">
        <ion-button [routerLink]="['/territory']">Cancel</ion-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-grid no-padding>
      <!-- <ion-row>
        <ion-col no-padding>
          <ion-item>
            <ion-input label="Territory Code" labelPlacement="floating" formControlName="territoryCode"></ion-input>
          </ion-item>
        </ion-col> 
      </ion-row> -->
      <ion-row>
        <ion-col no-padding>
          <ion-item>
            <ion-input label="Territory Name" labelPlacement="floating" formControlName="territoryName"></ion-input>
          </ion-item>
        </ion-col> 
      </ion-row>
      <ion-row>
        <ion-col no-padding>
          <ion-item>
            <ion-select aria-label="Active" interface="popover" placeholder="Area Id" formControlName="areaId">
              <ion-select-option *ngFor="let area of territoryService.areaList" [value]="area.id">
                {{area.territoryName}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col no-padding>
          <ion-item>
            <ion-select aria-label="Active" interface="popover" placeholder="Active" formControlName="active">
              <ion-select-option value=Y>Yes</ion-select-option>
              <ion-select-option value=N>No</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
  </form>
