.ion-page{
    margin-top: 30px;
  }
  
  .icon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
    padding: 15px;
    background-color: #f1f1f1;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2c4d6c;
  }
  
  .icons p {
    font-size: 14px;
  }
  
  .icon-btn {
    border: none;
    font-size: 27px;
    cursor: pointer;
    border-radius: 5px;
    color: #2c4d6c;
  }